.activeOption {
  background-color: black;
  color: white;
}

ul {
  width: 50%;
  padding-left: 15px;
  overflow: auto;
  height: 50vh;
}

li {
  color: black;
  border: 1px solid black;
}

.caret {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  cursor: pointer;
}
.caret.down {
  border-top-color: black;
}
